body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#buttonContainer {
    text-align: center;
}

#showImageBtn {
    background-color: green;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
