body{
    background-color: gray; 
}

div {
    background-color: lightblue;
    color: white;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5vw;
    margin: 2.5vw;
    border: gray 5px, solid; 
}

.div-wrapper { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}


@media screen and (max-width: 900px) { 
    body{ 
background-color: bisque;
    }

     div.wrapper {
        display: flex;
        flex-direction: column;
    }
}